aclocal.m4
*.tar.gz
daemon-1.0/
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
depcomp
install-sh
missing
.deps/
Makefile
Makefile.in
*.exe
*.o
stamp-h1
log.txt